nav ul {
    background-color: #333333;
    display:block;
    margin:0;
}

nav ul li {
    display: inline-block;
    color:white;
    padding:5px;
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a {
    text-decoration: none;
    color:white;
}

nav ul li a:hover {
    text-decoration: none;
    color:white;
}

nav ul li h2 {
    position:relative;
    top:1px;
    font-size:20px;
}

.login {
    position:relative;
    top:5px;
    right:10px;
}

i {
    margin-right:10px;
}

.block {
    background-color:#1e93cc;
    background-image:url(JSGeek.png);
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 30%;
    padding:100px;
    margin:auto;
}

.centre {
    text-align: center;
    color:white;
}

.button1 {
    background-color: orange;
    color: white;
    border: 2px solid white;
    border-radius:5px;
    margin-top:25px;
    font-size: 30px;
}

.block2 {
    background-color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-top: 15%;
}